In [3]:
# Importing packages (Pandas & Itertools)
import pandas as pd
import itertools

In [4]:
# Loading in CSV data
rawdata = pd.read_csv("GloomhavenTest.csv")

In [5]:
# Looking at raw data
rawdata

    Class  Level  Initiative
0   Brute      1          64
1   Brute      1          72
2   Brute      1          10
3   Brute      1          15
4   Brute      1          87
5   Brute      1          18
6   Brute      1          32
7   Brute      1          61
8   Brute      1          27
9   Brute      1          54
10  Brute      1          35
11  Brute      1          20
12  Brute      1          77
13  Brute      2          34
14  Brute      2          40
15  Brute      3          42
16  Brute      3          51
17  Brute      4          86
18  Brute      4          27
19  Brute      5          29
20  Brute      5          28
21  Brute      6          17
22  Brute      6          57
23  Brute      7          33
24  Brute      7          26
25  Brute      8          41
26  Brute      8          12
27  Brute      9          67
28  Brute      9          39

In [6]:
# Creating a data frame (this looks the same as the rawdata output, does read_csv load directly to a dataframe...?)
gh_dataframe = pd.DataFrame(rawdata)
# gh_dataframe

In [7]:
# Testing the raw data some more
print(rawdata['Initiative'][0])
print(gh_dataframe['Initiative'][0])

64
64

In [8]:
# Testing the combination function of the Itertools module
comb_test = list(itertools.combinations(range(5),3))
# comb_test

In [9]:
# Setting the hand size for the Brute class (the class in the test data)
hand_size = 10

In [10]:
# Current level for the loop (build this loop out in VSC)
current_level = 2

In [11]:
# Converting the level and initiative column to lists
level_df_list = rawdata['Level'].tolist()
print(level_df_list)

initiative_df_list = rawdata['Initiative'].tolist()
print(initiative_df_list)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]
[64, 72, 10, 15, 87, 18, 32, 61, 27, 54, 35, 20, 77, 34, 40, 42, 51, 86, 27, 29, 28, 17, 57, 33, 26, 41, 12, 67, 39]

In [12]:
# Creating an array of just the levels up to and including the current level
level_index = [item for item in level_df_list if item <= current_level]
print(level_index)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2]

In [13]:
# Creating an array of initiatives for just the levels up to and including the current level
init_index = 1
avail_card_count = len(level_index)

initiative_index = []
for item in initiative_df_list:
    if init_index <= avail_card_count:
        initiative_index.append(initiative_df_list[(init_index - 1)])
        init_index += 1

print(initiative_index)

[64, 72, 10, 15, 87, 18, 32, 61, 27, 54, 35, 20, 77, 34, 40]

In [15]:
level_comb = list(itertools.combinations(level_index, 10))
print(len(level_comb))
print(level_comb[-1])

3003
(1, 1, 1, 1, 1, 1, 1, 1, 2, 2)

In [16]:
# Performing validation check on possible hands to exclude things that aren't possible
# Things that can't happen
valid_hand_array = list()

for hand in level_comb:
    if sum(hand) <= 11:
        valid_hand_array.append(hand)

print(len(valid_hand_array))

1716